<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <form action="/add" method="POST" class="input-form">
        <div class="inputbox">
            <label>Enter a book name:</label>
            <input type="text" name="newbook" placeholder="name of the book"><br><br>
        </div>
        <div class="inputbox largerbox">
            <label>your opinion about the book:</label>
            <textarea name="details" placeholder="opinion"></textarea>
        </div>
        <div class="inputbox">
            <label>rate it:</label>
            <input type="integer" name="rating" minimum="1" maximum="10" placeholder="1-10">
        </div>
        <button type="submit">Submit</button>
    </form>

    <p>
        <%# if books exist, print them. %>
        <% if (locals.books.length != 0){ %>
            <% books.forEach(book => { %>
                <div class="item">
                    <h2>title: <%= book.title %></h2> 
                    <p>details: <%= book.details %></p> 
                    <p>rating: <%= book.rating %></p>
                    <form action="/delete" method="POST">
                    delete
                    <input type="checkbox" onchange="if (this.checked) this.form.submit();" name="deleteBookId" value="<%= book.id %>">
                </form>

                </div>
                
            <% }); %>
        <%}else{%>
            add above to show books
        <%}%>
    </p>

    
</body>
</html>